.order-container{
    background-color: white;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buyer-name{
    text-align: center;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
}

.badge-rating{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.yellow{
    color: yellow;
}

.badge-new{
    background-color: lightseagreen;
    color: white;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-top: 2px;
}

.badge-progress{
    background-color: #45a539;
    color: white;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-top: 2px;
}

.badge-delivered{
    background-color: orangered;
    color: white;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-top: 2px;
}

.badge-revision{
    background-color: red;
    color: white;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-top: 2px;
}

.badge-accepted{
    background-color: yellowgreen;
    color: white;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-top: 2px;
    width: max-content;
}

.badge-disputed{
    background-color: purple;
    color: white;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-top: 2px;
    width: max-content;
}

.badge-cancelled{
    background-color: gray;
    color: white;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-top: 2px;
    width: max-content;
}

.bold{
    font-weight: 500;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-both{
    clear: both;
}

.order-profile{
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.service-image{
    width: 100%;
    min-height: 130px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-name{
    text-align: center;
}
