<div class="buyer-request-container">
    <div class="inner-container">
        <div class="request-heading">
            <i class="fa fa-arrow-circle-o-left green-icon" aria-hidden="true" (click)="navigateToDashboard()"></i>
            Buyer Requests
        </div>

        <div class="buyer-request-list">
            <div class="buyer-request-tab">
                <div class="profile-picture float-left"></div>
                <div class="profile-name float-left">Awais Kamran</div>
                <div class="clear-both"></div>

                <div class="buyer-request-tab-description">
                    <span class="title">Category</span> <span class="badge badge-secondary badge-green">Food</span>
                    <div class="description">Any delicate you how kindness horrible outlived servants. You high bed wish help call draw side. Girl quit if case mr sing as no have. At none neat am do over will. Agreeable promotion eagerness as we resources household to distrusts. Polite do object at passed it is. Small for ask shade water manor think men begin. </div><br/>
                    <div class="price-tag">
                        <i class="fa fa-tag green-icon small-font" aria-hidden="true"></i> £ 400
                    </div>
                    <div class="time-required">
                        <i class="fa fa-clock-o green-icon small-font" aria-hidden="true"></i> 40 hours
                    </div><br/>
                    <button type="button" class="btn btn-outline-success">Send Your Bid</button>
                </div>
            </div>
        </div>
    </div>
</div>