<div class="preview-container">
    <!-- <div class="preview-logo-container"></div> -->
</div>

<div class="container">
    <div class="container-section-heading">Our <span class="green">Freelancers</span></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12">
                    <app-user-mini-badge id="2" userName="Jennifer Merchant"
                        userQuote="This platform has helped me grow as a human and encouraged me to level up my skills."
                        userPosition="Article Writer/Proofreader" userRating="5">
                    </app-user-mini-badge>
                </div>
                <div class="col-md-4 col-sm-12 col-12">
                    <app-user-mini-badge id="1" userName="Awais Kamran"
                        userQuote="It's been a great working experience over this platform that brings together minds."
                        userPosition="UI/UX developer" userRating="4">
                    </app-user-mini-badge>
                </div>
                <div class="col-md-4 col-sm-12 col-12">
                    <app-user-mini-badge id="3" userName="James Mccoy"
                        userQuote="A great place to meet new professionals and build something meaningful together."
                        userPosition="Software Tester" userRating="4">
                    </app-user-mini-badge>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-12">
            <div class="container-section-heading">Our <span class="green">Mission</span></div>
            <div class="row-content">
                Our mission is to help individuals and families make a house their home, regardless of where they are.
                Our mission includes providing freedom and giving back autonomy to freelancers so they may regain
                control of their personal and professional lives.
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
            <div class="container-section-heading">Our <span class="green">Vision</span></div>
            <div class="row-content">
                Our vision is to ease the process or finding and recruiting freelancers depending on the needs and means
                of various households. We also aim to revolutionise the job market in the hope that more people will
                become freelancers and self-employed.
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-12">
            <div class="container-section-heading">Our <span class="green">Values</span></div>
            <div class="row-content">
                Our values are fairness, care, generosity, freedom, diversity and community. Our values form the
                foundation of our professional practice and we encourage interaction and participation from our diverse
                communities.
            </div>
        </div>
    </div>
</div><br />

<div class="container container-padding services-section">
    <div class="container-section-heading">Our <span class="green">Services</span></div>
    <div class="row">
        <div class="col-md-4 service-flex-box">
            <img class="service-image" src="assets/images/asset-picture-1.png">
            <div class="col-md-8 col-sm-10">
                <div class="service-heading"><span class="heading-highlighter">Affordable</span> service</div>
                <p class="service-detail">No commitment, no contract, make one-off or recurring bookings</p>
            </div>
        </div><br />
        <div class="col-md-4 service-flex-box">
            <img class="service-image" src="assets/images/asset-picture-2.png">
            <div class="col-md-8 col-sm-10">
                <div class="service-heading"><span class="heading-highlighter">Greatest</span> platform</div>
                <p class="service-detail">The go-to online marketplace to find freelancers and post job vacancies</p>
            </div>
        </div>
        <div class="col-md-4 service-flex-box">
            <img class="service-image" src="assets/images/asset-picture-3.png">
            <div class="col-md-8 col-sm-10">
                <div class="service-heading"> <span class="heading-highlighter">Ease</span>  and flexibility</div>
                <p class="service-detail">Search and book freelancers or jobs with ease in your own time</p>
            </div>
        </div>

    </div>
</div><br /><br />