<div class="bid-request-container">
    <div class="inner-container">
        <div class="request-heading">
            <i class="fa fa-arrow-circle-o-left green-icon" aria-hidden="true" (click)="navigateToDashboard()"></i>
            Bids - Order # {{id}}
        </div>

        <div class="bid-request-list">
            <div class="bid-request-tab" *ngFor="let bid of bidList">
                <div class="profile-picture float-left" [ngStyle]="{ 'background-image': getUserImage(bid.proposedBy) }"></div>
                <div class="profile-name float-left">{{ bid.userName }}</div>
                <div class="clear-both"></div>

                <div class="bid-request-tab-description">
                    <div class="description">{{ bid.bidDescription }}</div><br />
                    <div class="price-tag">
                        <i class="fa fa-tag green-icon small-font" aria-hidden="true"></i> £ {{bid.proposedBudget}}
                    </div>
                    <div class="time-required">
                        <i class="fa fa-clock-o green-icon small-font" aria-hidden="true"></i> {{ bid.timeRequired }} hours
                    </div><br />
                    <button type="button" class="btn btn-outline-success" (click)="acceptBid(bid.id)">Accept Bid</button>
                </div>
            </div>
        </div>
    </div>
</div>