.bid-request-container{
    padding: 10px;
    background-color: #fbf9f9;
}

.inner-container{
    background-color: white;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
    margin-bottom: 25px;
    padding: 15px;
}

@media only screen and (max-width: 992px) {
    .inner-container{
        width: 95%;
    }
}

@media only screen and (max-width: 500px) {
    .inner-container{
        width: 95%;
    }
}

.green-icon{
    color: #1db36d;
    font-size: 18.5px;
    cursor: pointer;
}

.request-heading{
    font-size: 18.5px;
}

.float-left{
    float: left;
}

.clear-both{
    clear: both;
}

.profile-picture{
    background-color: #e0e0e0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.price-tag{
    margin-left: 5px;
}

.profile-name{
    height: 30px;
    line-height: 30px;
    font-size: 16.5px;
    cursor: pointer;
}

.bid-request-tab{
    margin-top: 25px;
    padding: 10px;
    background-color: #fcfcfc;
}

.bid-request-tab-description{
    margin-top: 10px;
}

.description{
    color:#777777;
    font-size: 15.5px;
    margin-top: 4px;
}

.title{
    font-size: 15px;
    margin-right: 5px;
}

.badge-green{
    background-color: #1db36d;
}

.service-image{
    height: 95px;
    width: 110px;
    border-radius: 4px;
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.bid-title{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
}

.bid-details{
    border: 1px solid #e0e0e0;
    padding: 4px;
    width: max-content;
    height: 105.5px
}

.bid-details{
    margin-top: 15px;
}