.yellow{
    color: yellow;
    margin-right: 4px;
}

.user-qoute-text{
    font-style: italic;
    font-size: 22px;
    font-weight: 200;
    font-family: 'Calibri';
}

.user-name{
    font-size: 22px;
    font-weight: 200;
    font-family: 'Calibri';
}

.user-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.user-qoute{
    margin-bottom: 35px;
}