.order-container{
    padding: 10px;
    background-color: #fbf9f9;
    min-height: 400px;
}


.order-detail-section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: white;
}