<div class="order-container">
    <div class="order-detail-section">
        <div *ngIf="orderStatusSuccess" class="alert alert-success" role="alert">
            Order status has been updated.
        </div>

        <div *ngIf="orderStatusError" class="alert alert-danger" role="alert">
            Error! There was an internal server error.
        </div>

        <div class="order-detail-heading green-heading">
            <i class="fa fa-arrow-circle-o-left green-icon" aria-hidden="true" (click)="navigateToDashboard()"></i>
            Order # {{order.id}}
        </div>
        <div class="order-detail-title">{{order.service.title}}</div>
        <div class="order-detail-description">{{order.service.description}}</div><br/>
        
        <div class="price-section">
            <div [ngStyle]="{'background-image': getServiceImage(order.serviceId) }" class="float-left service-picture"></div>
            <div class="float-left">
                <div class="total-price"><span class="bold">Price</span> £ {{order.service.hourlyCost * order.service.minimumHours}}</div>
                <div class="minimum-hours"><span class="bold">Hours</span> {{ order.service.minimumHours}}</div>
                <div class="order-status">
                    <div *ngIf="order.status === '0'" class="badge-value badge-progress">Scheduled</div>
                    <div *ngIf="order.status === '1'" class="badge-value badge-revision">In Revision</div>
                    <div *ngIf="order.status === '2'" class="badge-value badge-delivered">Completed</div>
                    <div *ngIf="order.status === '3'" class="badge-value badge-accepted">Paid</div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div><br/>

        <div class="ordered-by">Ordered by <span class="green-highlight cursor-pointer" (click)="navigateToUserProfile(order.user.id)">{{ order.user.username }}</span> at {{ formatDate(order.orderCreated) }}</div><br/>      
        <hr/>

        <div class="delivery-section" *ngIf="(order.status === '0' || order.status === '1')  && !isAdmin()">
            <div class="form-group">
                <input type="file" class="form-control-file" id="fileToUpload" name="fileToUpload" (change)="onFileSelect($event)" />
            </div>
            <button class="btn btn-block btn-outline-success green-border" (click)="deliverOrder(order.id, 2)">Deliver Order</button>
            <div class="short-note">Note: Please make sure the document uploaded are in the .doc or .pdf format. In case of there is no deliverable, make sure to upload a signed or authorized receipts.</div>
        </div>

        <div class="delivery-section-container" *ngIf="order.status === '2' && !isAdmin()">
            <div class="message box">
                <i class="fa fa-check-square green-large-icon" aria-hidden="true"></i> Please wait while your order is reviewed.
            </div>
        </div>

        <div class="delivery-section-container" *ngIf="(order.status === '1')  && isAdmin()">
            <div class="message box">
                <i class="fa fa-check-square green-large-icon" aria-hidden="true"></i> Please wait while your order is reviewed.
            </div>
        </div>

        <div class="delivery-section-container" *ngIf="(order.status === '0') && isAdmin()">
            <div class="message box">
                <i class="fa fa-history green-large-icon" aria-hidden="true"></i> Please wait, your order is scheduled.
            </div>
        </div>

        <div class="delivery-section-container" *ngIf="(order.status === '-1')  && isAdmin()">
            <div class="message box">
                <i class="fa fa-rocket green-large-icon" aria-hidden="true"></i> Please wait while you receive the bids on your job.
            </div>
        </div>

        <div class="delivery-section-container" *ngIf="(order.status === '-1')  && !isAdmin()">
            <div class="row">
                <div class="col-lg-5 no-padding-right">
                    <button class="btn btn-block btn-outline-success green-border mb-1 btn-width" (click)="changeOrderStatus(order.id, 0)">Accept Request</button>
                </div>
                <div class="col-lg-5 no-padding-right">
                    <button class="btn btn-block btn-outline-danger mb-1 btn-width" (click)="declineOrderByOrderId(order.id, -1)">Decline Request</button>
                </div>
                <div class="short-note">Note - Please respond to the buyer's request to accept or decline the order. In case you fail to respond to the order, the order will be cancelled within three days of time.</div>
            </div>
        </div>

        <div class="admin-section" *ngIf="(order.status === '2') && isAdmin()">
            <div class="attached-file mb-1">
                <a class="download-link" [href]="downloadLink" download>
                    <i class="fa fa-paperclip green-icon" aria-hidden="true"></i> 
                    <span class="gray-text">Download the attachment</span>
                </a>
            </div>
            <div class="row">
                <div class="col-lg-5 no-padding-right">
                    <button class="btn btn-block btn-outline-success green-border mb-1 btn-width" (click)="changeOrderStatus(order.id, 3)">Accept Order</button>
                </div>
                <div class="col-lg-5 no-padding-right">
                    <button class="btn btn-block btn-outline-danger mb-1 btn-width" (click)="changeOrderStatus(order.id, 1)">Submit Revision</button>
                </div>
            </div>
            <div class="short-note">Note: Accepting the order can not be reverted, please make sure that you have receieved the right version of the deliverable before proceeding any further.</div>
        </div>

        <div class="admin-section" *ngIf="(order.status === '3') && isAdmin()">
            <div *ngIf="order.adminRated">
                <div class="message box">
                    <i class="fa fa-thumbs-up green-large-icon" aria-hidden="true"></i> Your order has been accepted.
                </div>
            </div>
            <div *ngIf="!order.adminRated">
                <app-rating (rated)="handleRatedEvent($event)" [display]="false" [orderId]="order.id" [orderCreatedBy]="order.user.id" [freelancerId]="order.freelancerId"></app-rating>
            </div>
        </div>

        <div class="admin-section" *ngIf="(order.status === '3') && !isAdmin()">
            <div *ngIf="order.freelancerRated">
                <div class="message box">
                    <i class="fa fa-thumbs-up green-large-icon" aria-hidden="true"></i> Your order has been accepted.
                </div>
            </div>
            <div *ngIf="!order.freelancerRated">
                <app-rating (rated)="handleRatedEvent($event)" [display]="false" [orderId]="order.id" [orderCreatedBy]="order.user.id" [freelancerId]="order.freelancerId"></app-rating>
            </div>
        </div>

        <hr/>
        <app-comment-list [orderId]="id"></app-comment-list>
    </div><br/><br/>
</div>
