<div class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="profile-card padding-20 margin-20">
                    <div class="profile-badge">
                        <img src="assets/images/dummy-profile-picture.jpg" class="rounded-circle centered" width="90"
                            height="90" />
                        <div class="badge-rating">
                            <i *ngFor="let star of stars" class="fa fa-star yellow" aria-hidden="true"></i>
                        </div>
                        <div class="badge-name">Awais Kamran</div>
                        <div class="badge-position">UI/UX Developer</div>
                        <hr />
                        <div class="badge-about-me">
                            <div class="bold">About me</div>
                            Listening no no behaviour existence assurance situation is. Because
                            add why not esteems amiable him. Interested the unaffected mrs law friendship add
                            principles. Indeed on people do merits to. Court heard which up above hoped grave do. Answer
                            living law things either sir bed length. Looked before we an on merely.
                            These no death he at share alone.
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="IsServiceView" class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="order-list padding-10 margin-20 no-padding-left no-margin-left no-padding-top">
                    <div class="container">
                        <div class="row">
                            <div *ngFor="let service of userServices" class="order-wrapper col-lg-4">
                                <div class="order-container">
                                    <div class="headline">{{ service.title }}</div>
                                    <div class="placeholder" [ngStyle]="{'background-image': 'url(' + service.image + ')'}"></div><br/>
                                    <div class="user-actions">
                                        <div class="like-icon float-left">
                                            <i class="fa fa-heart heart-icon"></i>
                                        </div>
                                        <div class="service-price float-right green">
                                            Price <span class="bold">${{ service.hourlyCost }}</span>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                    <!-- <button class="btn btn-block btn-success button-style">Buy Service</button> -->
                                </div>
                            </div>

                            <div class="order-wrapper col-lg-4">
                                <div class="order-container">
                                    <div class="add-container" (click)="addService()">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!IsServiceView" class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="create-order padding-10 margin-20">
                    <div class="back-button" (click)="addService()">
                        <span class="green">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                            Back
                        </span>
                    </div>

                    <div *ngIf="serviceSuccess" class="alert alert-success" role="alert">
                        Congratulations! Your new service has been created.
                    </div>
        
                    <div *ngIf="serviceError" class="alert alert-danger" role="alert">
                        Error! There was an internal server error.
                    </div>

                    <div *ngIf="missingField" class="alert alert-warning" role="alert">
                        Warning! You are missing some fields.
                    </div>

                    <div class="centered">
                        <img [src]="imageProfile" class="image-style" (click)="openFileExplorer()" /><br/>
                    </div>
                            
                    <div class="form-group">
                        <label for="exampleInputEmail1">Your service name</label>
                        <input [(ngModel)]="data.title" type="text" class="form-control" placeholder="Service name">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Describe your service</label>
                        <textarea [(ngModel)]="data.description" rows="3" class="form-control" placeholder="Service description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Hourly Cost</label>
                        <input [(ngModel)]="data.hourlyCost" type="text" class="form-control" placeholder="Hourly cost">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Minimum Hours</label>
                        <input [(ngModel)]="data.minimumHours" type="text" class="form-control" placeholder="Minimum cost">
                    </div>

                    <div class="col-md-12 col-12 form-group no-padding">
                        <label>Category</label>
                        <div>
                            <select class="form-control no-padding" [(ngModel)]="data.categoryId" (change)="categoryChanged()">
                                <option value="-1" selected>Select Category</option>
                                <option *ngFor="let category of categories" [value]="category.id">   
                                    {{ category.categoryName }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 col-12 form-group no-padding">
                        <label>Sub Category</label>
                        <div>
                            <select class="form-control no-padding" [(ngModel)]="data.subCategoryId">
                                <option value="-1" selected>Select Sub-Category</option>
                                <option *ngFor="let subcategory of filteredSubcategories" [value]="subcategory.id">
                                    {{ subcategory.subCategoryName }}
                                </option>
                            </select>
                        </div>
                    </div><br/>

                    <input #fileDiv class="hide" type="file" (change)="onFileChanged($event)" />

                    <button type="button" class="btn btn-success btn-block" (click)="createService()">
                        <span *ngIf="serviceLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Create
                    </button><br />
                </div>
            </div>
        </div>
    </div>
</div>