<div class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="profile-card padding-10 margin-20">
                    <div class="profile-badge">
                        <img src="../../assets/images/dummy-profile-picture.jpg" class="rounded-circle" width="90"
                            height="90" />
                        <div class="badge-rating">
                            <i *ngFor="let star of stars" class="fa fa-star yellow" aria-hidden="true"></i>
                        </div>
                        <div class="badge-name">Awais Kamran</div>
                        <div class="badge-position">UI/UX Developer</div>
                        <div class="badge-about-me">
                            Listening no no behaviour existence assurance situation is. Because
                            add why not esteems amiable him. Interested the unaffected mrs law friendship add
                            principles. Indeed on people do merits to. Court heard which up above hoped grave do. Answer
                            living law things either sir bed length. Looked before we an on merely.
                            These no death he at share alone.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="order-list padding-10 margin-20 no-padding-left no-margin-left no-padding-top">
                    <div class="container">
                        <div class="row">
                            <div class="order-wrapper col-lg-4">
                                <div class="order-container">
                                    <div class="headline">I will offer 250 words articles</div>
                                    <img class="placeholder" src="https://picsum.photos/200/200?random=1" width="200" height="175" /><br />
                                    <div class="user-actions">
                                        <div class="like-icon float-left">
                                            <i class="fa fa-heart heart-icon"></i>
                                        </div>
                                        <div class="service-price float-right green">
                                            Price <span class="bold">$150</span>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                    <button class="btn btn-block btn-success button-style">Buy Service</button>
                                </div>
                            </div>

                            <div class="order-wrapper col-lg-4">
                                <div class="order-container">
                                    <div class="headline">I will offer 250 words articles</div>
                                    <img class="placeholder" src="https://picsum.photos/200/200?random=2" width="200" height="175" /><br />
                                    <div class="user-actions">
                                        <div class="like-icon float-left">
                                            <i class="fa fa-heart heart-icon"></i>
                                        </div>
                                        <div class="service-price float-right green">
                                            Price <span class="bold">$150</span>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                    <button class="btn btn-block btn-success button-style">Buy Service</button>
                                </div>
                            </div>

                            <div class="order-wrapper col-lg-4">
                                <div class="order-container">
                                    <div class="headline">I will offer 250 words articles</div>
                                    <img class="placeholder" src="https://picsum.photos/200/175?random=3" width="200" height="175" /><br />
                                    <div class="user-actions">
                                        <div class="like-icon float-left">
                                            <i class="fa fa-heart heart-icon"></i>
                                        </div>
                                        <div class="service-price float-right green">
                                            Price <span class="bold">$150</span>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                    <button class="btn btn-block btn-success button-style">Buy Service</button>
                                </div>
                            </div>

                            <div class="order-wrapper col-lg-4">
                                <div class="order-container">
                                    <div class="headline">I will offer 250 words articles</div>
                                    <img class="placeholder" src="https://picsum.photos/200/175?random=4" width="200" height="175" /><br />
                                    <div class="user-actions">
                                        <div class="like-icon float-left">
                                            <i class="fa fa-heart heart-icon"></i>
                                        </div>
                                        <div class="service-price float-right green">
                                            Price <span class="bold">$150</span>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                    <button class="btn btn-block btn-success button-style">Buy Service</button>
                                </div>
                            </div>

                            <div class="order-wrapper col-lg-4">
                                <div class="order-container">
                                    <div class="headline">I will offer 250 words articles</div>
                                    <img class="placeholder" src="https://picsum.photos/200/175?random=5" width="200" height="175" /><br />
                                    <div class="user-actions">
                                        <div class="like-icon float-left">
                                            <i class="fa fa-heart heart-icon"></i>
                                        </div>
                                        <div class="service-price float-right green">
                                            Price <span class="bold">$150</span>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                    <button class="btn btn-block btn-success button-style">Buy Service</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>