<!-- Header Start -->
<nav class="navbar navbar-expand-lg navbar-light navigation-bar">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo-header.png" class="navbar-logo" alt="Freelance Services" />
  </a>

  <div *ngIf="isUserActive" class="dropdown show form-inline dropdown-style">
    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="profile-pic" [ngStyle]="{'background-image': userImagePath }"></div>
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      <div class="dropdown-item" (click)="navigateToSettings()">
        <i class="fa fa-cog menu-icon" aria-hidden="true"></i> Settings
      </div>
      <div class="dropdown-item" (click)="navigateToUserProfile()">
        <i class="fa fa-address-book-o menu-icon" aria-hidden="true"></i> My Profile
      </div>
      <div class="dropdown-item pointer-cursor" (click)="logout()">
        <i class="fa fa-power-off menu-icon" aria-hidden="true"></i> Logout
      </div>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isUserActive" class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']" href="#">Dashboard</a>
      </li>
      <li *ngIf="isUserActive && !isUserAdmin" class="nav-item">
        <a class="nav-link" [routerLink]="['user-services']" href="#">Services</a>
      </li>
      <li *ngIf="isUserActive && !isUserAdmin" class="nav-item">
        <a class="nav-link"  [routerLink]="['buyer-request']" href="#">Buyer Request</a>
      </li>
      <li *ngIf="isUserActive && isUserAdmin" class="nav-item">
        <a class="nav-link" [routerLink]="['create-job']" href="#">Search Services</a>
      </li>
      <li *ngIf="isUserActive && isUserAdmin" class="nav-item">
        <a class="nav-link" (click)="navigateToPlainSearch()">Search Freelancers</a>
      </li>
    </ul>
    <form *ngIf="!isUserActive" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success btn-outline-green my-2 my-sm-0" type="button" (click)="register()">Login</button>
    </form>
  </div>
</nav>
<!-- Header End -->

<!-- Sub Nav bar Start  -->
<div class="sub-nav-bar" *ngIf="isUserActive && isUserAdmin">
  <div class="sub-nav-bar-container" (mouseleave)="dropDownService.toggleFood()">
    <div class="nav-bar-title" (mouseover)="dropDownService.toggleFood()">
      Food
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showFood">
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Butler service</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Cake baking</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Food shopping</a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Preparing meals</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Waiting service</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container" (mouseleave)="dropDownService.toggleCleaning()">
    <div class="nav-bar-title" (mouseover)="dropDownService.toggleCleaning()">
      Cleaning
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showCleaning">
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Air conditioners</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Furnace air filters</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Bathroom cleaning</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Car washing</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Cleaning blinds</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Cleaning refrigerator</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Dishwashing</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Garage cleaning</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">House cleaning</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Kitchen cleaning</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Laundry</a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Machine cleaning</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Mopping floors</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Pool cleaning</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Shampooing carpets</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Sweeping</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Taking out trash</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Vaccuming curtains</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Vaccuming</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Waste collection</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Window cleaning</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container" (mouseleave)="dropDownService.toggleMaintenance()">
    <div class="nav-bar-title" (mouseover)="dropDownService.toggleMaintenance()">
      Maintenance
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showMaintenance">
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Construction</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Decorating</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">DIY fixing</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Garden fencing</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Fence maintenance</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Gardening</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Garden maintenance</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Interior designing</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Lawn maintenance</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Mowing the lawn</a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Painting</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Plumbing</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Window fixing</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Tree surgery</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Tree pruning</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Panels</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Partition the wall</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Watering plants</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Weeding the garden</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container" (mouseleave)="dropDownService.toggleManagement()">
    <div class="nav-bar-title" (mouseover)="dropDownService.toggleManagement()">
      Management
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showManagement">
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Accountancy</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Administration</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Chauffeur</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Event planning</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Health management</a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Home sitting</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">House removals</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Personal assistant</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Security</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container" (mouseleave)="dropDownService.togglePets()">
    <div class="nav-bar-title" (mouseover)="dropDownService.togglePets()">
      Pets
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showPets">
      <div class="col-lg-12 col-md-12 col-12 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Bathing pet</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Feeding pet</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Pampering pet</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Pet sitting</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Vet visit</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container" (mouseleave)="dropDownService.toggleChildren()">
    <div class="nav-bar-title" (mouseover)="dropDownService.toggleChildren()">
      Children
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showChildren">
      <div class="col-lg-12 col-md-12 col-12 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Babysitting</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">School run</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Tutoring</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Homework support</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container" (mouseleave)="dropDownService.toggleElderly()">
    <div class="nav-bar-title" (mouseover)="dropDownService.toggleElderly()">
      Elderly care
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showElderly">
      <div class="col-lg-12 col-md-12 col-12 no-padding">
        <a class="dropdown-item" (click)="navigateToSearch($event)">Care</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Companionship</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Daily activities</a>
        <a class="dropdown-item" (click)="navigateToSearch($event)">Nursing</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container" (mouseleave)="dropDownService.toggleLifestyle()">
      <div class="nav-bar-title" (mouseover)="dropDownService.toggleLifestyle()">
        Lifestyle
      </div>
      <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showLifestyle">
        <div class="col-lg-12 col-md-12 col-12 no-padding">
          <a class="dropdown-item" (click)="navigateToSearch($event)">Hair & beauty</a>
          <a class="dropdown-item" (click)="navigateToSearch($event)">Massage therapy</a>
          <a class="dropdown-item" (click)="navigateToSearch($event)">Personal trainer</a>
          <a class="dropdown-item" (click)="navigateToSearch($event)">Photography</a>
          <a class="dropdown-item" (click)="navigateToSearch($event)">Private lessons</a>
          <a class="dropdown-item" (click)="navigateToSearch($event)">Therapies</a>
        </div>
      </div>
    </div>
</div>
<!-- Sub Nav bar End-->

<div class="content">
  <router-outlet (activate)='onActivate($event)'></router-outlet>
</div>

<!-- collapsible navbar - START-->
<div *ngIf="isUserActive && isUserAdmin" class="accordion" id="footerAccordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
          <div class="float-left">Food</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item">Butler Services</a>
        <a class="dropdown-item">Cake baking</a>
        <a class="dropdown-item">Food shopping</a>
        <a class="dropdown-item">Preparing meals</a>
        <a class="dropdown-item">Waiting services</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseOne">
          <div class="float-left">Cleaning</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Air conditioners</a>
        <a class="dropdown-item" href="#">Furnace air filters</a>
        <a class="dropdown-item" href="#">Bathroom cleaning</a>
        <a class="dropdown-item" href="#">Car washing</a>
        <a class="dropdown-item" href="#">Cleaning blinds</a>
        <a class="dropdown-item" href="#">Cleaning refrigerator</a>
        <a class="dropdown-item" href="#">Dishwashing</a>
        <a class="dropdown-item" href="#">Garage cleaning</a>
        <a class="dropdown-item" href="#">Window cleaning</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseOne">
          <div class="float-left">Maintenance</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Construction</a>
        <a class="dropdown-item" href="#">Decorating</a>
        <a class="dropdown-item" href="#">Garden fencing</a>
        <a class="dropdown-item" href="#">Interior designing</a>
        <a class="dropdown-item" href="#">Painting</a>
        <a class="dropdown-item" href="#">Plumbing</a>
        <a class="dropdown-item" href="#">Window fixing</a>
        <a class="dropdown-item" href="#">Tree surgery</a>
        <a class="dropdown-item" href="#">Panels</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseOne">
          <div class="float-left">Management</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Accountancy</a>
        <a class="dropdown-item" href="#">Administration</a>
        <a class="dropdown-item" href="#">Chauffeur</a>
        <a class="dropdown-item" href="#">Event planning</a>
        <a class="dropdown-item" href="#">Health management</a>
        <a class="dropdown-item" href="#">Home sitting</a>
        <a class="dropdown-item" href="#">House removals</a>
        <a class="dropdown-item" href="#">Personal assistant</a>
        <a class="dropdown-item" href="#">Security</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseOne">
          <div class="float-left">Pets</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Bathing pet</a>
        <a class="dropdown-item" href="#">Feeding pet</a>
        <a class="dropdown-item" href="#">Pampering pet</a>
        <a class="dropdown-item" href="#">Pet sitting</a>
        <a class="dropdown-item" href="#">Vet visit</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseOne">
          <div class="float-left">Children</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Babysitting</a>
        <a class="dropdown-item" href="#">School run</a>
        <a class="dropdown-item" href="#">Tutoring</a>
        <a class="dropdown-item" href="#">Homework support</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseOne">
          <div class="float-left">Elderly Children</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Care</a>
        <a class="dropdown-item" href="#">Companionship</a>
        <a class="dropdown-item" href="#">Daily activities</a>
        <a class="dropdown-item" href="#">Nursing</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseEight" aria-controls="collapseOne">
          <div class="float-left">Lifestyle</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Hair & Beauty</a>
        <a class="dropdown-item" href="#">Massage Therapy</a>
        <a class="dropdown-item" href="#">Personal Trainer</a>
        <a class="dropdown-item" href="#">Photographer</a>
        <a class="dropdown-item" href="#">Private Lessons</a>
        <a class="dropdown-item" href="#">Therapies</a>
      </div>
    </div>
  </div>
</div>
<!-- collapsible navbar - END-->

<!-- Footer Start -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="mb-4">
          <h4 class="footer-title">About us</h4>
          <ul class="list-unstyled">
            <li><a target="_blank" href="./assets/documents/copyright-statement.pdf" class="pb-1 d-block footer-sub-titles">Copyright Statement</a></li>
            <li><a target="_blank" href="./assets/documents/privacy-policy.pdf" class="pb-1 d-block footer-sub-titles">Privacy Policy</a></li>
            <li><a target="_blank" href="./assets/documents/terms-and-conditions.pdf" class="pb-1 d-block footer-sub-titles">Terms And Conditions</a></li>
          </ul>
          <div class="social-icons">
            <a href="https://twitter.com/house_freelance" target="_blank"><div class="social-container float-left"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
            <a href="https://facebook.com/housefreelance/" target="_blank"><div class="social-container float-left"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
            <a href="https://www.instagram.com/house_freelance/" target="_blank"><div class="social-container float-left"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
            <br />
          </div><br />
          <div class="footer-initial-icon" style="width: 500px">
              <a href="#">
                <span class="text footer-sub-titles-text float-left">
                  Copyright © Freelance House Services LTD
                </span><br/>
              </a>
            </div>
        </div>
      </div>

      <div class="col-md-3">
        <!-- <div class="mb-4">
          <h4 class="footer-title">Have a Questions?</h4>
          <div class="mb-4">
            <div class="footer-initial-icon">
              <span class="text footer-sub-titles-text float-left"><i class="fa fa-phone" aria-hidden="true"></i>
                +2 392
                3929 210</span>
            </div>
            <div class="clear-both"></div>

            <div class="footer-initial-icon">
              <a href="#">
                <span class="text footer-sub-titles-text float-left">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  info@yourdomain.com</span>
              </a>
            </div><br/>
            
            <div class="clear-both"></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- Footer Start -->