@media screen and (max-width: 935px) {
    #footerAccordion{
        display: show;
    }

    .sub-nav-bar{
        display: none !important;
    }
}

@media screen and (min-width: 935px) {
    #footerAccordion{
        display: none;
    }
}
  
.pointer-cursor{
    cursor: pointer;
}

.menu-icon{
    color: gray;
    margin-right: 2px;
}

.dropdown-item{
    cursor: pointer;
}

.navigation-bar{
    border-bottom: 1px solid #e0e0e0;
}

.sub-nav-bar{
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 25px;
}

.sub-nav-bar-contant{
    display: inline;
    cursor: pointer;
    margin-left: 22px;
    font-size: 16px;
}

.new-item{
    color: #ff62ad;
    border-radius: 7px;
    border: 1px solid #ff62ad;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
}

.nav-link{
    padding: 0px !important;
    cursor: pointer;
    padding-right: 25px !important;
    color: #807d7d;
}

.dropdown-toggle::after{
    display: none !important;
}

.dropdown-item{
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.sub-nav-content  > .dropdown-menu{
    top: -3px !important;
    border: 0px !important;
    border-radius: 0px !important;
    /*background-color: #f7f7f7 !important;*/
    background-color: #fdfcfc;
    max-height: 400px;
    overflow-y: auto;
}

.sub-nav-content > .dropdown-menu > .dropdown-item:hover {
    text-decoration: none;
    color: #1db36d !important;
}

.form-inline > .dropdown-menu{
    padding: 0px;
}

.form-inline > .dropdown-menu > .dropdown-item{
    height: 36px !important;
    line-height: 36px !important;
}

.form-inline > .dropdown-menu > .dropdown-item:hover {
    text-decoration: none;
    color: #1db36d !important;
}

.form-inline > .dropdown-menu > .dropdown-item:hover .menu-icon{
    color: #1db36d !important;
}

.sub-nav-content{
    display: inline-block;
    margin-right: 25px;
}

.card-header{
    background-color: #1db36d;
    color: white !important;
}

.footer-btn{
    color: white;
    cursor: pointer;
    width: 100%;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-both{
    clear: both;
}

.card-body{
    padding: 10px !important;
    background-color: #f7f7f7 !important;
}

.card-body{
    padding: 10px !important
}

.card-body > .dropdown-item {
    color: gray;
    text-decoration: none;
    height: 45px;
    line-height: 45px;
}

.card-body > .dropdown-item:hover {
    background-color: #ded6d6 !important;
}

.dropdown-menu::-webkit-scrollbar {
    width: 4px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background-color: white;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.nav-bar-dropdown-container{
    z-index: 100;
    background-color: white;
    position: absolute;
}

.sub-nav-bar-container{
    float: left;
    margin-right: 35px;
}

.nav-bar-title{
    color: gray;
    cursor: pointer;
}

.nav-bar-title:hover{
    color: #1db36d;
}

.dropdown-item:hover{
    color: #1db36d !important;
    background-color: #fbfafa !important;
}

.no-padding{
    padding: 0px;
}

.btn-outline-green{
    border-color: #1dbf73 !important;
    color: #1dbf73 !important;
}

.btn-outline-green:hover{
    background-color: #1dbf73 !important;
    color: white !important;
}