<!-- Header Start -->
<nav class="navbar navbar-expand-lg navbar-light navigation-bar">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo-mini.png" class="navbar-logo" alt="Freelance Services" />
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isUserActive" class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']" href="#">Dashboard</a>
      </li>
      <li *ngIf="isUserActive" class="nav-item">
        <a class="nav-link" [routerLink]="['user-services']" href="#">Services</a>
      </li>
      <li *ngIf="isUserActive" class="nav-item">
        <a class="nav-link" href="#">Orders</a>
      </li>
      <li *ngIf="isUserActive" class="nav-item">
        <a class="nav-link" href="#">Analytics</a>
      </li>
    </ul>
    <form *ngIf="!isUserActive" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="register()">Login</button>
    </form>
  </div>

  <div *ngIf="isUserActive" class="dropdown show form-inline">
    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="profile-pic"></div>
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      <div class="dropdown-item" (click)="navigateToSettings()">
        <i class="fa fa-cog menu-icon" aria-hidden="true"></i> Settings
      </div>
      <div class="dropdown-item" (click)="navigateToUserServices()">
        <i class="fa fa-address-book-o menu-icon" aria-hidden="true"></i> My Profile
      </div>
      <div class="dropdown-item pointer-cursor" (click)="logout()">
        <i class="fa fa-power-off menu-icon" aria-hidden="true"></i> Logout
      </div>
    </div>
  </div>
</nav>
<!-- Header End -->

<!-- Sub Nav bar Start-->
<div class="sub-nav-bar">
  <div class="sub-nav-bar-contant">Pet sitting</div>
  <div class="sub-nav-bar-contant">Elderly care <span class="new-item">NEW</span></div>
  <div class="sub-nav-bar-contant">Fitness & Training</div>
  <div class="sub-nav-bar-contant">Cooking <span class="new-item">NEW</span></div>
  <div class="sub-nav-bar-contant">Tutoring</div>
  <div class="sub-nav-bar-contant">Baby Sitting</div>
  <div class="sub-nav-bar-contant">Writing</div>
  <div class="sub-nav-bar-contant">Translation</div>
  <div class="sub-nav-bar-contant">Programming</div>
  <div class="sub-nav-bar-contant">Graphic Designing <span class="new-item">NEW</span></div>
  <div class="sub-nav-bar-contant">Day Care</div>
</div>
<!-- Sub Nav bar End-->

<div class="content">
  <router-outlet (activate)='onActivate($event)'></router-outlet>
</div>

<!-- Footer Start -->
<div class="footer">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md">
        <div class="mb-4">
          <h4 class="footer-title">About us</h4>
          <p class="footer-sub-titles-text">Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia, there live the
            blind texts.
          </p>
          <div class="social-icons">
            <div class="social-container float-left"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="social-container float-left"><i class="fa fa-facebook" aria-hidden="true"></i></div>
            <div class="social-container float-left"><i class="fa fa-instagram" aria-hidden="true"></i></div>
            <br />
          </div><br />
        </div>
      </div>

      <div class="col-md">
        <div class="mb-4">
          <h4 class="footer-title">Employers</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Browse Candidates</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Post a Job</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Employer Listing</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Resume Page</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Dashboard</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Job Packages</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="mb-4 ml-md-4">
          <h4 class="footer-title">Candidate</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Browse Jobs</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Submit Resume</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Dashboard</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Browse Categories</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">My Bookmarks</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Candidate Listing</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="mb-4 ml-md-4">
          <h4 class="footer-title">Account</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="pb-1 d-block footer-sub-titles">My Account</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Sign In</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Create Account</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Checkout</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="mb-4">
          <h4 class="footer-title">Have a Questions?</h4>
          <div class="mb-4">
            <div class="footer-initial-icon">
              <span class="text footer-sub-titles-text float-left"><i class="fa fa-phone" aria-hidden="true"></i> +2 392
                3929 210</span>
            </div>
            <div class="clear-both"></div>

            <div class="footer-initial-icon">
              <a href="#">
                <span class="text footer-sub-titles-text float-left"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                  info@yourdomain.com</span>
              </a>
            </div>
            <div class="clear-both"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Start -->