<!-- Header Start -->
<nav class="navbar navbar-expand-lg navbar-light navigation-bar">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo-header.png" class="navbar-logo" alt="Freelance Services" />
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isUserActive" class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']" href="#">Dashboard</a>
      </li>
      <li *ngIf="isUserActive && !isUserAdmin" class="nav-item">
        <a class="nav-link" [routerLink]="['user-services']" href="#">Services</a>
      </li>
      <li *ngIf="isUserActive && !isUserAdmin" class="nav-item">
        <a class="nav-link"  [routerLink]="['buyer-request']" href="#">Buyer Request</a>
      </li>
      <li *ngIf="isUserActive && isUserAdmin" class="nav-item">
        <a class="nav-link" [routerLink]="['create-job']" href="#">Create Job</a>
      </li>
      <li *ngIf="isUserActive && isUserAdmin" class="nav-item">
        <a class="nav-link" [routerLink]="['search']" href="#">Search Job</a>
      </li>
    </ul>
    <form *ngIf="!isUserActive" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success btn-outline-green my-2 my-sm-0" type="button" (click)="register()">Login</button>
    </form>
  </div>

  <div *ngIf="isUserActive" class="dropdown show form-inline">
    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="profile-pic" [ngStyle]="{'background-image': userImagePath }"></div>
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      <div class="dropdown-item" (click)="navigateToSettings()">
        <i class="fa fa-cog menu-icon" aria-hidden="true"></i> Settings
      </div>
      <div *ngIf="!isUserAdmin" class="dropdown-item" (click)="navigateToUserServices()">
        <i class="fa fa-address-book-o menu-icon" aria-hidden="true"></i> My Profile
      </div>
      <div class="dropdown-item pointer-cursor" (click)="logout()">
        <i class="fa fa-power-off menu-icon" aria-hidden="true"></i> Logout
      </div>
    </div>
  </div>
</nav>
<!-- Header End -->

<!-- Sub Nav bar Start  -->
<div class="sub-nav-bar" *ngIf="isUserActive && isUserAdmin">
  <div class="sub-nav-bar-container">
    <div class="nav-bar-title" (click)="dropDownService.toggleFood()">
      Food
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showFood">
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" href="#">Butler Services</a>
        <a class="dropdown-item" href="#">Cake baking</a>
        <a class="dropdown-item" href="#">Food shopping</a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" href="#">Preparing meals</a>
        <a class="dropdown-item" href="#">Waiting services</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container">
    <div class="nav-bar-title" (click)="dropDownService.toggleCleaning()">
      Cleaning
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showCleaning">
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" href="#">Air conditioners</a>
        <a class="dropdown-item" href="#">Furnace air filters</a>
        <a class="dropdown-item" href="#">Bathroom cleaning</a>
        <a class="dropdown-item" href="#">Car washing</a>
        <a class="dropdown-item" href="#">Cleaning blinds</a>
        <a class="dropdown-item" href="#">Cleaning refrigerator</a>
        <a class="dropdown-item" href="#">Dishwashing</a>
        <a class="dropdown-item" href="#">Garage cleaning</a>
        <a class="dropdown-item" href="#">House cleaning</a>
        <a class="dropdown-item" href="#">Kitchen cleaning</a>
        <a class="dropdown-item" href="#">Laundry</a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" href="#">Machine cleaning</a>
        <a class="dropdown-item" href="#">Mopping floors</a>
        <a class="dropdown-item" href="#">Pool cleaning</a>
        <a class="dropdown-item" href="#">Shampooing carpets</a>
        <a class="dropdown-item" href="#">Sweeping</a>
        <a class="dropdown-item" href="#">Taking out trash</a>
        <a class="dropdown-item" href="#">Vaccuming curtains</a>
        <a class="dropdown-item" href="#">Vaccuming</a>
        <a class="dropdown-item" href="#">Waste collection</a>
        <a class="dropdown-item" href="#">Window cleaning</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container">
    <div class="nav-bar-title" (click)="dropDownService.toggleMaintenance()">
      Maintenance
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showMaintenance">
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" href="#">Construction</a>
        <a class="dropdown-item" href="#">Decorating</a>
        <a class="dropdown-item" href="#">DIY fixing</a>
        <a class="dropdown-item" href="#">Garden fencing</a>
        <a class="dropdown-item" href="#">Fence maintenance</a>
        <a class="dropdown-item" href="#">Gardening</a>
        <a class="dropdown-item" href="#">Garden maintenance</a>
        <a class="dropdown-item" href="#">Interior designing</a>
        <a class="dropdown-item" href="#">Lawn maintenance</a>
        <a class="dropdown-item" href="#">Mowing the lawn</a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" href="#">Painting</a>
        <a class="dropdown-item" href="#">Plumbing</a>
        <a class="dropdown-item" href="#">Window fixing</a>
        <a class="dropdown-item" href="#">Tree surgery</a>
        <a class="dropdown-item" href="#">Tree pruning</a>
        <a class="dropdown-item" href="#">Panels</a>
        <a class="dropdown-item" href="#">Partition the wall</a>
        <a class="dropdown-item" href="#">Watering plants</a>
        <a class="dropdown-item" href="#">Weeding the garden</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container">
    <div class="nav-bar-title" (click)="dropDownService.toggleManagement()">
      Management
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showManagement">
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" href="#">Accountancy</a>
        <a class="dropdown-item" href="#">Administration</a>
        <a class="dropdown-item" href="#">Chauffeur</a>
        <a class="dropdown-item" href="#">Event planning</a>
        <a class="dropdown-item" href="#">Health management</a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 no-padding">
        <a class="dropdown-item" href="#">Home sitting</a>
        <a class="dropdown-item" href="#">House removals</a>
        <a class="dropdown-item" href="#">Personal assistant</a>
        <a class="dropdown-item" href="#">Security</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container">
    <div class="nav-bar-title" (click)="dropDownService.togglePets()">
      Pets
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showPets">
      <div class="col-lg-12 col-md-12 col-12 no-padding">
        <a class="dropdown-item" href="#">Bathing pet</a>
        <a class="dropdown-item" href="#">Feeding pet</a>
        <a class="dropdown-item" href="#">Pampering pet</a>
        <a class="dropdown-item" href="#">Pet sitting</a>
        <a class="dropdown-item" href="#">Vet visit</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container">
    <div class="nav-bar-title" (click)="dropDownService.toggleChildren()">
      Children
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showChildren">
      <div class="col-lg-12 col-md-12 col-12 no-padding">
        <a class="dropdown-item" href="#">Babysitting</a>
        <a class="dropdown-item" href="#">School run</a>
        <a class="dropdown-item" href="#">Tutoring</a>
        <a class="dropdown-item" href="#">Homework support</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container">
    <div class="nav-bar-title" (click)="dropDownService.toggleElderly()">
      Elderly care
    </div>
    <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showElderly">
      <div class="col-lg-12 col-md-12 col-12 no-padding">
        <a class="dropdown-item" href="#">Care</a>
        <a class="dropdown-item" href="#">Companionship</a>
        <a class="dropdown-item" href="#">Daily activities</a>
        <a class="dropdown-item" href="#">Nursing</a>
      </div>
    </div>
  </div>

  <div class="sub-nav-bar-container">
      <div class="nav-bar-title" (click)="dropDownService.toggleLifestyle()">
        Lifestyle
      </div>
      <div class="nav-bar-dropdown-container row" *ngIf="dropDownService.showLifestyle">
        <div class="col-lg-12 col-md-12 col-12 no-padding">
          <a class="dropdown-item" href="#">Hair & beauty</a>
          <a class="dropdown-item" href="#">Massage therapy</a>
          <a class="dropdown-item" href="#">Personal trainer</a>
          <a class="dropdown-item" href="#">Photography</a>
          <a class="dropdown-item" href="#">Private lessons</a>
          <a class="dropdown-item" href="#">Therapies</a>
        </div>
      </div>
    </div>
</div>
<!-- Sub Nav bar End-->

<div class="content">
  <router-outlet (activate)='onActivate($event)'></router-outlet>
</div>

<!-- collapsible navbar - START-->
<div *ngIf="isUserActive && isUserAdmin" class="accordion" id="footerAccordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
          <div class="float-left">Food</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Butler Services</a>
        <a class="dropdown-item" href="#">Cake baking</a>
        <a class="dropdown-item" href="#">Food shopping</a>
        <a class="dropdown-item" href="#">Preparing meals</a>
        <a class="dropdown-item" href="#">Waiting services</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseOne">
          <div class="float-left">Cleaning</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Air conditioners</a>
        <a class="dropdown-item" href="#">Furnace air filters</a>
        <a class="dropdown-item" href="#">Bathroom cleaning</a>
        <a class="dropdown-item" href="#">Car washing</a>
        <a class="dropdown-item" href="#">Cleaning blinds</a>
        <a class="dropdown-item" href="#">Cleaning refrigerator</a>
        <a class="dropdown-item" href="#">Dishwashing</a>
        <a class="dropdown-item" href="#">Garage cleaning</a>
        <a class="dropdown-item" href="#">Window cleaning</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseOne">
          <div class="float-left">Maintenance</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Construction</a>
        <a class="dropdown-item" href="#">Decorating</a>
        <a class="dropdown-item" href="#">Garden fencing</a>
        <a class="dropdown-item" href="#">Interior designing</a>
        <a class="dropdown-item" href="#">Painting</a>
        <a class="dropdown-item" href="#">Plumbing</a>
        <a class="dropdown-item" href="#">Window fixing</a>
        <a class="dropdown-item" href="#">Tree surgery</a>
        <a class="dropdown-item" href="#">Panels</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseOne">
          <div class="float-left">Management</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Accountancy</a>
        <a class="dropdown-item" href="#">Administration</a>
        <a class="dropdown-item" href="#">Chauffeur</a>
        <a class="dropdown-item" href="#">Event planning</a>
        <a class="dropdown-item" href="#">Health management</a>
        <a class="dropdown-item" href="#">Home sitting</a>
        <a class="dropdown-item" href="#">House removals</a>
        <a class="dropdown-item" href="#">Personal assistant</a>
        <a class="dropdown-item" href="#">Security</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseOne">
          <div class="float-left">Pets</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Bathing pet</a>
        <a class="dropdown-item" href="#">Feeding pet</a>
        <a class="dropdown-item" href="#">Pampering pet</a>
        <a class="dropdown-item" href="#">Pet sitting</a>
        <a class="dropdown-item" href="#">Vet visit</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseOne">
          <div class="float-left">Children</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Babysitting</a>
        <a class="dropdown-item" href="#">School run</a>
        <a class="dropdown-item" href="#">Tutoring</a>
        <a class="dropdown-item" href="#">Homework support</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseOne">
          <div class="float-left">Elderly Children</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Care</a>
        <a class="dropdown-item" href="#">Companionship</a>
        <a class="dropdown-item" href="#">Daily activities</a>
        <a class="dropdown-item" href="#">Nursing</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn footer-btn" data-toggle="collapse" data-target="#collapseEight" aria-controls="collapseOne">
          <div class="float-left">Lifestyle</div>
          <div class="float-right">+</div>
          <div class="fclear-both"></div>
        </div>
      </h2>
    </div>

    <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#footerAccordion">
      <div class="card-body">
        <a class="dropdown-item" href="#">Hair & Beauty</a>
        <a class="dropdown-item" href="#">Massage Therapy</a>
        <a class="dropdown-item" href="#">Personal Trainer</a>
        <a class="dropdown-item" href="#">Photographer</a>
        <a class="dropdown-item" href="#">Private Lessons</a>
        <a class="dropdown-item" href="#">Therapies</a>
      </div>
    </div>
  </div>
</div>
<!-- collapsible navbar - END-->

<!-- Footer Start -->
<div class="footer">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md">
        <div class="mb-4">
          <h4 class="footer-title">About us</h4>
          <p class="footer-sub-titles-text">Far far away, behind the word mountains, far from the countries
            Vokalia and
            Consonantia, there live the
            blind texts.
          </p>
          <div class="social-icons">
            <div class="social-container float-left"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="social-container float-left"><i class="fa fa-facebook" aria-hidden="true"></i></div>
            <div class="social-container float-left"><i class="fa fa-instagram" aria-hidden="true"></i></div>
            <br />
          </div><br />
        </div>
      </div>

      <div class="col-md">
        <div class="mb-4">
          <h4 class="footer-title">Employers</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Browse Candidates</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Post a Job</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Employer Listing</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Resume Page</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Dashboard</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Job Packages</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="mb-4 ml-md-4">
          <h4 class="footer-title">Candidate</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Browse Jobs</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Submit Resume</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Dashboard</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Browse Categories</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">My Bookmarks</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Candidate Listing</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="mb-4 ml-md-4">
          <h4 class="footer-title">Account</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="pb-1 d-block footer-sub-titles">My Account</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Sign In</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Create Account</a></li>
            <li><a href="#" class="pb-1 d-block footer-sub-titles">Checkout</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="mb-4">
          <h4 class="footer-title">Have a Questions?</h4>
          <div class="mb-4">
            <div class="footer-initial-icon">
              <span class="text footer-sub-titles-text float-left"><i class="fa fa-phone" aria-hidden="true"></i>
                +2 392
                3929 210</span>
            </div>
            <div class="clear-both"></div>

            <div class="footer-initial-icon">
              <a href="#">
                <span class="text footer-sub-titles-text float-left"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                  info@yourdomain.com</span>
              </a>
            </div>
            <div class="clear-both"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Start -->