<div class="review-container">
    <div *ngIf="reviewList.length > 0">
        <div *ngFor="let review of reviewList">
            <div class="review-container">
                <div class="user-profile float-left" [ngStyle]="{ 'background-image': review.reviewerImage}"></div>
                <div class="float-left user-name">{{ review.userName }}</div>
                <div class="clear-both"></div>
                <div class="user-review-stars">
                    <i *ngFor="let value of review.rating" class="fa fa-star yellow star" aria-hidden="true"></i>
                </div>
                <div class="user-review-comments">{{ review.ratingComments }}</div>
                <div class="user-review-date">{{ review.dateTime | date: 'medium' }}</div>
            </div>
        </div>
    </div>
    <div *ngIf="reviewList.length === 0">
        <div class="no-data-available mt-2">No Data Available</div>
    </div>
</div>