.profile-picture{    
    background-color: #e0e0e0;    
    height: 30px;    
    width: 30px;    
    border-radius: 50%;    
    margin-right: 10px;    
    background-size: cover;    
    background-position: center;    
    background-repeat: no-repeat;
}

.green-outline{    
    border-color: #1db36d !important;
    color: #1db36d !important;
}

.green-outline:hover{    
    background-color: #1db36d !important;    
    color: white !important;
}

.user-account-container{    
    background-color: #f9f8f8;
}

.user-account-container{    
    height: 50px;
}

.profile-name{    
    line-height: 50px;    
    cursor: pointer;
}

.profile-name:hover{    
    text-decoration: underline;
}

.profile-active-btn{    
    line-height: 50px;
}

.red-color{    
    color: white;    
    background-color: red;    
    font-size: 13px;    
    border-radius: 4px;    
    padding: 3px;    
    cursor: pointer;
}

.green-color{    
    color: white;    
    background-color: #1db36d;    
    font-size: 13px;    
    border-radius: 4px;    
    padding: 4px;    
    cursor: pointer;
}

.margin-top-pic{    
    margin-top: 10px;
}

.email-text{    
    color: #ada9a9;    
    font-weight: 300;
}

.chart-container{    
    padding-right: 0px;    
    padding-left: 10px;    
    margin-top: 24px;    
    margin-right: 12px;    
    cursor: pointer;
}

.inner-chart-container{    
    background-color: red;    
    height: 100px;    
    margin-bottom: 25px;
}

.card-item{    
    margin-right: 15px;
}

.chart-title{    
    font-weight: 100;    
    margin-bottom: 4px;
}

.card-icons{    
    font-size: 35px;
}

.card-number{    
    font-size: 50px;    
    font-weight: 100;    
    margin-top: 4px;
}

.activated-container{    
    background-color: yellowgreen;    
    color: white;    
    border-radius: 5px;    
    padding: 10px;
}

.flagged-container{    
    background-color: #dc3545;    
    color: white;    
    border-radius: 5px;    
    padding: 10px;
}

.deactivated-container{    
    background-color: orangered;    
    color: white;    
    border-radius: 5px;    
    padding: 10px;
}

.no-data-available{    
    color: black;    
    background-color: #e0e0e0;    
    width: 100%;    
    text-align: center;    
    padding: 2.5%;    
    margin-bottom: 20px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {    
    visibility: hidden; /* Hidden by default. Visible on click */    
    min-width: 250px; /* Set a default minimum width */    
    margin-left: -125px; /* Divide value of min-width by 2 */    
    background-color: #333; /* Black background color */    
    color: #fff; /* White text color */    
    text-align: center; /* Centered text */    
    border-radius: 2px; /* Rounded borders */    
    padding: 16px; /* Padding */    
    position: fixed; /* Sit on top of the screen */    
    z-index: 1; /* Add a z-index if needed */    
    left: 50%; /* Center the snackbar */    
    bottom: 30px; /* 30px from the bottom */  
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {    
    visibility: visible; /* Show the snackbar */    
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.    
    However, delay the fade out process for 2.5 seconds */    
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;    
    animation: fadein 0.5s, fadeout 0.5s 2.5s;  
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {    
    from {bottom: 0; opacity: 0;}    
    to {bottom: 30px; opacity: 1;}  
}

@keyframes fadein {    
    from {bottom: 0; opacity: 0;}    
    to {bottom: 30px; opacity: 1;}  
}

@-webkit-keyframes fadeout {    
    from {bottom: 30px; opacity: 1;}    
    to {bottom: 0; opacity: 0;}  
}

@keyframes fadeout {    
    from {bottom: 30px; opacity: 1;}    
    to {bottom: 0; opacity: 0;}  
} 