.profile-picture{
    background-color: #e0e0e0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.green-outline{
    border-color: #1db36d !important;
    color: #1db36d !important;
}

.green-outline:hover{
    background-color: #1db36d !important;
    color: white !important;
}

.user-account-container{
    background-color: #f9f8f8;
}

.user-account-container{
    height: 50px;
}

.profile-name{
    line-height: 50px;
}

.profile-active-btn{
    line-height: 50px;
}

.red-color{
    color: red;
}

.green-color{
    color:  #1db36d;
}

.margin-top-pic{
    margin-top: 10px;
}