<div class="profile-card padding-20 margin-20">
    <div class="profile-badge">
        <div [ngStyle]="{'background-image': userImage }" class="profile-picture centered"></div>
        <div class="badge-rating">
            <i *ngFor="let star of starsCount" class="fa fa-star gray" [ngClass]="{ 'yellow': star }" aria-hidden="true"></i>
            ({{ userService.userRating }})
        </div>
        <div class="badge-name">{{ user.name }}</div>
        <div class="badge-position">{{ user.position }}</div>
        <hr />
        <div class="badge-about-me">
            <div class="bold mb-0.5">About me</div>
            <div *ngIf="user.aboutMe">{{ user.aboutMe }}</div>
            <div *ngIf="!user.aboutMe">Not Specified</div>

            <div *ngIf='user.type === "1"'>
                <div class="bold mt-3 mb-0.5">Travel Radius</div>
                <div *ngIf="user.travelRadius"><i class="fa fa-bicycle green" aria-hidden="true"></i> {{ user.travelRadius }} km</div>
            </div>
        </div>
    </div>
    <div class="location-section mt-2">
        <div class="bold mb-0.5">Location</div>
        <div *ngIf="user.country">
            <div class="flag-width float-left" [ngStyle]="{'background-image': getCountryFlag() }"></div>
            <span class="float-left">{{ getCountryName() }}</span>
            <div class="clear-both"></div>
        </div>

        <div *ngIf="user.city"><i class="fa fa-map-marker green" aria-hidden="true"></i> {{ user.city }}</div>
    </div>
</div>