<div class="rating-container">
    <div *ngIf="ratingSubmittedSuccess" class="alert alert-success" role="alert">
        Order status has been updated.
    </div>

    <div *ngIf="ratingSubmittedError" class="alert alert-danger" role="alert">
        Error! There was an internal server error.
    </div>

    <div *ngIf="display">
        <div [ngStyle]="{'background-image': userImage }" class="profile-picture centered"></div>
        <div class="centered star-wrap">
           <i *ngFor="let value of rating" class="fa fa-star yellow star" aria-hidden="true"></i>
        </div>
    </div>

    <div *ngIf="!display">
        <div [ngStyle]="{'background-image': userImage }" class="profile-picture centered"></div>
        <div class="centered star-wrap">
            <i *ngFor="let value of ratingValue; let i = index" class="fa fa-star gray rate-value star" [ngClass]="{'yellow': value}" (click)="getRating(i)" aria-hidden="true"></i>
         </div>      
         <div class="headline-text"> How would you rate your experience? </div>

         <textarea [(ngModel)]="ratingComments" class="text-area mb-3 mt-3" rows="3" placeholder="Please write your review here"></textarea>
         <button class="btn btn-block btn-outline-success" (click)="submitRating()">
            Submit Review
         </button>
    </div>
</div>