<div class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <app-user-info-badge></app-user-info-badge>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="create-order padding-10 margin-20">
                    <div class="profile-heading">
                        <i class="fa fa-arrow-circle-o-left heading-icon green-icon" aria-hidden="true"
                            (click)="navigateToDashboard()"></i>
                        <span>User Settings</span>
                    </div>
                    <div *ngIf="userDataUpdated" class="alert alert-success" role="alert">
                        Congratulations! Your Settings have been updated.
                    </div>

                    <div *ngIf="userDataUpdatedError" class="alert alert-danger" role="alert">
                        Error! There was an internal server error.
                    </div>

                    <div class="alert alert-success" role="alert">
                        Note - User can change their profile picture and password and other relevant details under this
                        section. Please make sure that you provide authenticated bank account details.
                    </div>

                    <input #fileDiv class="hide" type="file" (change)="onFileChanged($event)" />
                    <div class="centered">
                        <div [ngStyle]="{ 'background-image': imageProfile }" title="click to change profile picture"
                            class="image-style" (click)="openFileExplorer()"></div>
                        <div class="text-center mb-5">Click to change your picture</div>
                    </div>

                    <div class="form-group">
                        <label>About you</label>
                        <textarea [(ngModel)]="data.aboutMe" type="text" class="form-control"
                            placeholder="Describe yourself" rows="6"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input [(ngModel)]="data.email" type="text" class="form-control"
                            placeholder="Email" />
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <input [(ngModel)]="data.city" type="text" class="form-control"
                            placeholder="City" />
                    </div>

                    <div *ngIf="!isAdmin()">
                        <div class="form-group">
                            <label>Bank Name</label>
                            <input [(ngModel)]="data.bankName" type="text" class="form-control"
                                placeholder="Bank Name" />
                        </div>

                        <div class="form-group">
                            <label>Sort Code</label>
                            <input [(ngModel)]="data.bankCode" type="text" maxlength="6" class="form-control"
                                placeholder="Sort Code" />
                        </div>

                        <div class="form-group">
                            <label>Bank Account Number</label>
                            <input [(ngModel)]="data.bankAccountNumber" type="text" class="form-control"
                                placeholder="Bank Account Number" />
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-block green-block"
                        (click)="updateUserInformation()">
                        <span *ngIf="serviceLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Update
                    </button><br />
                </div>

                <div class="create-order padding-10 margin-20">
                    <div class="profile-heading">
                        <span>Reset Password</span>
                    </div>
                    <div *ngIf="passwordChangedSuccess" class="alert alert-success" role="alert">
                        Congratulations! Your Password has been set successfully.
                    </div>

                    <div *ngIf="passwordChangedError" class="alert alert-danger" role="alert">
                        Error! There was an internal server error.
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input [(ngModel)]="userData.password" type="password" class="form-control"
                            placeholder="Enter your password" />
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input [(ngModel)]="userData.confirmPassword" type="password" class="form-control"
                            placeholder="Confirm your new password" />
                    </div>

                    <button type="button" class="btn btn-success btn-block green-block" (click)="updateUserPassword()">
                        <span *ngIf="serviceLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Reset Password
                    </button>
                </div>
            </div>
        </div>
    </div>