<div class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <app-user-info-badge></app-user-info-badge>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="create-order padding-10 margin-20">
                    <div *ngIf="userDataUpdated" class="alert alert-success" role="alert">
                        Congratulations! Your new service has been created.
                    </div>

                    <div *ngIf="userDataUpdatedError" class="alert alert-danger" role="alert">
                        Error! There was an internal server error.
                    </div>

                    <input #fileDiv class="hide" type="file" (change)="onFileChanged($event)" />
                    <div class="centered">
                        <div [ngStyle]="{ 'background-image': imageProfile }" title="click to change profile picture" class="image-style" (click)="openFileExplorer()"></div><br />
                    </div>

                    <div class="form-group">
                        <label>About you</label>
                        <textarea 
                            [(ngModel)]="data.aboutMe" 
                            type="text" 
                            class="form-control"
                            placeholder="Describe yourself"
                            rows="6"
                        ></textarea>
                    </div>

                    <div class="form-group">
                        <label>Bank Name</label>
                        <input 
                            [(ngModel)]="data.bankName" 
                            type="text" 
                            class="form-control"
                            placeholder="Bank Name"
                        />
                    </div>

                    <div class="form-group">
                        <label>Bank Account Number</label>
                        <input 
                            [(ngModel)]="data.bankAccountNumber" 
                            type="text" 
                            class="form-control"
                            placeholder="Bank Account Number"
                        />
                    </div>

                    <button type="button" class="btn btn-success btn-block green-block" (click)="updateUserInformation()">
                        <span *ngIf="serviceLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Update
                    </button><br />
                </div>
            </div>
        </div>
    </div>