.profile-badge{
    padding-bottom: 25px;
    border-bottom: 1px solid #e0e0e0;
}

.profile-card{
    background-color: white;
    border: 1px solid #e0e0e0;
}

.padding-20{
    padding: 20px;
}

.margin-20{
    margin: 20px;
}

.badge-rating{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.yellow{
    color: yellow;
}

.badge-name{
    width: 100%;
    text-align: center;
}

.badge-position{
    width: 100%;
    text-align: center;
}

.badge-about-me{
    font-size: 15px;
}

.bold{
    font-weight: 500;
}

.badge-rating{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.field{
    margin-top: 10px;
}

.image-style{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #e0e0e0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hide{
    display: none;
}

.green-block{
    background-color: #1dbf73 !important;
}

.profile-heading{
    font-size: 16.5px;
    font-weight: 400;
    margin-bottom: 10px;
}

.green-icon{
    color: #1dbf73;
    margin-right: 6px;
    cursor: pointer;
}

.dashboard-container{
    background-color: #fbf9f9;
}

.create-order {
    background-color: white;
    padding: 15px;
}

.text-center{
    width: 100%;
    text-align: center;
    color: gray;
}

.title{
    font-weight: 400;;
}

.institute{
    font-weight: 200;
}

.score{
    font-weight: 100;
}

.label-text{
    font-weight: 100;
}

.qualification-section{
    border-left: 3px solid #1dbf73;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f5f5f5;
}

.no-data-available{
    color: black;
    background-color: #e0e0e0;
    width: 100%;
    text-align: center;
    padding: 2.5%;
    margin-bottom: 20px;
}

.gray-text{
    color:gray;
    margin-left: 2px;
    font-size: 15px;
    cursor: pointer;
}

.gray-text:hover{
    color:gray !important;
    margin-left: 2px;
    font-size: 15px;
    cursor: pointer;
}

.download-link:hover{
    color:gray !important;
    margin-bottom: 20px;
}