<div class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <app-user-info-badge></app-user-info-badge>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="create-order padding-10 margin-20">
                    <div class="profile-heading">
                        <i class="fa fa-arrow-circle-o-left heading-icon green-icon" aria-hidden="true"
                            (click)="navigateToDashboard()"></i>
                        <span>User Settings</span>
                    </div>

                    <div *ngIf="userDataUpdated" class="alert alert-success" role="alert">
                        Congratulations! Your Settings have been updated.
                    </div>

                    <div *ngIf="userDataUpdatedError" class="alert alert-danger" role="alert">
                        Error! There was an internal server error.
                    </div>

                    <div class="alert alert-success" role="alert">
                        Note - User can change their profile picture and password and other relevant details under this
                        section. <span *ngIf="!isAdmin()">Please make sure that you provide authenticated bank account details.</span>
                    </div>

                    <input #fileDiv class="hide" type="file" (change)="onFileChanged($event)" />
                    <div class="centered">
                        <div [ngStyle]="{ 'background-image': imageProfile }" title="click to change profile picture"
                            class="image-style" (click)="openFileExplorer()"></div>
                        <div class="text-center mb-5">Click to change your picture</div>
                    </div>

                    <div class="form-group">
                        <label>About you</label>
                        <textarea [(ngModel)]="data.aboutMe" type="text" class="form-control"
                            placeholder="Describe yourself" rows="6"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input [(ngModel)]="data.email" type="text" class="form-control" placeholder="Email" />
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <input [(ngModel)]="data.city" type="text" class="form-control" placeholder="City" />
                    </div>

                    <div *ngIf="!isAdmin()">
                        <div class="form-group">
                            <label>Bank Name</label>
                            <input [(ngModel)]="data.bankName" type="text" class="form-control"
                                placeholder="Bank Name" />
                        </div>

                        <div class="form-group">
                            <label>Sort Code</label>
                            <input [(ngModel)]="data.bankCode" type="text" maxlength="6" class="form-control"
                                placeholder="Sort Code" />
                        </div>

                        <div class="form-group">
                            <label>Bank Account Number</label>
                            <input [(ngModel)]="data.bankAccountNumber" type="text" class="form-control"
                                placeholder="Bank Account Number" />
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-block green-block"
                        (click)="updateUserInformation()">
                        <span *ngIf="serviceLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Update
                    </button><br />
                </div>

                <div class="create-order padding-10 margin-20">
                    <div class="profile-heading">
                        <span>Reset Password</span>
                    </div>

                    <div *ngIf="passwordChangedSuccess" class="alert alert-success" role="alert">
                        Congratulations! Your Password has been set successfully.
                    </div>

                    <div *ngIf="passwordChangedError" class="alert alert-danger" role="alert">
                        Error! There was an internal server error.
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input [(ngModel)]="userData.password" type="password" class="form-control"
                            placeholder="Enter your new password" />
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input [(ngModel)]="userData.confirmPassword" type="password" class="form-control"
                            placeholder="Confirm your new password" />
                    </div>

                    <button type="button" class="btn btn-success btn-block green-block" (click)="updateUserPassword()">
                        <span *ngIf="serviceLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Reset Password
                    </button>
                </div>

                <div *ngIf="!isAdmin()" class="create-order padding-10 margin-20">
                    <div class="profile-heading">
                        <span>Add Qualifications</span>
                    </div>

                    <div *ngIf="qualificationAddedSuccess" class="alert alert-success" role="alert">
                        Congratulations! Your qualifications have been added successfully.
                    </div>

                    <div *ngIf="qualificationAddedError" class="alert alert-danger" role="alert">
                        Error! There was an internal server error.
                    </div>

                    <div class="form-group">
                        <label>Title</label>
                        <input [(ngModel)]="qualification.title" type="text" class="form-control"
                            placeholder="Enter your qualification title" />
                    </div>

                    <div class="form-group">
                        <label>Qualification Institute</label>
                        <input [(ngModel)]="qualification.institute" type="text" class="form-control"
                            placeholder="Enter the Institute" />
                    </div>

                    <div class="form-group">
                        <label>Qualification Score</label>
                        <input [(ngModel)]="qualification.score" type="text" class="form-control"
                            placeholder="Enter your qualification score" />
                    </div>

                    <button type="button" class="btn btn-success btn-block green-block" (click)="submitQualification()">
                        Submit
                    </button><br/>

                    <hr/>
                    
                    <app-qualifications></app-qualifications>
                </div>
            
                <div *ngIf="!isAdmin()" class="create-order padding-10 margin-20">
                    <div class="profile-heading">
                        <span>Add Work Experience</span>
                    </div>

                    <div *ngIf="experienceAddedSuccess" class="alert alert-success" role="alert">
                        Congratulations! Your experience have been added successfully.
                    </div>

                    <div *ngIf="experienceAddedError" class="alert alert-danger" role="alert">
                        Error! There was an internal server error.
                    </div>

                    <div class="form-group">
                        <label>Job Title</label>
                        <input [(ngModel)]="experience.title" type="text" class="form-control"
                            placeholder="Enter your job title" />
                    </div>

                    <div class="form-group">
                        <label>Company Name</label>
                        <input [(ngModel)]="experience.companyName" type="text" class="form-control"
                            placeholder="Enter the company name" />
                    </div>

                    <div class="form-group">
                        <label>Start Year</label>
                        <input [(ngModel)]="experience.startYear" type="text" class="form-control"
                            placeholder="Enter your employment start Year" />
                    </div>

                    <div class="form-group">
                        <label>End Year</label>
                        <input [(ngModel)]="experience.endYear" type="text" class="form-control"
                            placeholder="Enter your employment end Year" />
                    </div>

                    <button type="button" class="btn btn-success btn-block green-block" (click)="submitExperience()">
                        Submit
                    </button><br/>

                    <hr/>
                    
                    <app-experience></app-experience>
                </div>

                <div *ngIf="!isAdmin()" class="create-order padding-10 margin-20">
                    <div class="profile-heading">
                        <div *ngIf="userUpdateFailedWorkPermit" class="alert alert-warning" role="alert">
                            Warning! Please make sure you check the declaration checkbox
                        </div>

                        <span>Add Work Permit</span><br/><br/>

                        <a *ngIf="showPermitSection" class="download-link" [href]="downloadLinkPermit" download>
                            <i class="fa fa-paperclip green-icon" aria-hidden="true"></i> 
                            <span class="gray-text">Download the attachment</span>
                            <br/><br/>
                        </a>

                        <input type="file" accept="image/*" (change)="onFileEventChanged($event)"  /><br/><br/>
                        
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="addWorkPermit" class="form-check-input" id="addLicense">
                            <label class="form-check-label label-text" for="addLicense">I hereby declare that the information given in this application is true and correct to the best of my knowledge and belief. In case any information given in this application proves to be false or incorrect, I shall be responsible for the consequences.
                            </label><br/><br/>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-block green-block" (click)="submitWorkPermit()">
                        Submit
                    </button>
                </div>

                <div *ngIf="!isAdmin()" class="create-order padding-10 margin-20">
                    <div class="profile-heading">
                        <div *ngIf="userUpdateFailedLicense" class="alert alert-warning" role="alert">
                            Warning! Please make sure you check the declaration checkbox
                        </div>
    
                        <span>Add Driving Licence</span><br/><br/>

                        <a *ngIf="showLicenseSection" class="download-link" [href]="downloadLinkLicense" download>
                            <i class="fa fa-paperclip green-icon" aria-hidden="true"></i> 
                            <span class="gray-text">Download the attachment</span>
                            <br/><br/>
                        </a>

                        <input type="file" accept="image/*" (change)="onFileEventChanged($event)" /><br/><br/>

                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="addLicense" class="form-check-input" id="addLicense">
                            <label class="form-check-label label-text" for="addLicense">I hereby declare that the information given in this application is true and correct to the best of my knowledge and belief. In case any information given in this application proves to be false or incorrect, I shall be responsible for the consequences.
                            </label><br/><br/>
                        </div>                        
                    </div>

                    <button type="button" class="btn btn-success btn-block green-block" (click)="submitLicense()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>