<div class="preview-container">
    <div class="container">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5 margin-top-style">
                <div *ngIf="loginSuccess" class="alert alert-success" role="alert">
                    Congratulations! your action has been successful!
                </div>

                <div *ngIf="loginError" class="alert alert-warning" role="alert">
                    Error! Invalid username or password!
                </div>

                <form class="login-wrapper">
                    <img src="../../assets/images/logo 1.png" width="250" class="img-fluid centered" />
                    <div class="form-group">
     
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Email">
                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me?</label>
                    </div>

                    <button type="button" class="btn dark-theme-background btn-block" (click)="login()">
                        <span *ngIf="loginLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 " style="display: flex;align-items: center;">
            <div class="col-md-3">
                <img width="100%" class="adv" src="../../assets/images/asset-picture-1.png">
            </div>
            <div class="col-md-9">
                <h3><span style="color:#46CD84">Low</span> service fee</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            </div>
        </div>
        <div class="col-md-4 " style="display: flex;align-items: center;">
            <div class="col-md-3">
                <img width="100%" class="adv" src="../../assets/images/asset-picture-2.png">
            </div>
            <div class="col-md-9">
                <h3><span style="color:#46CD84">Anyone</span> can earn</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            </div>
        </div>
        <div class="col-md-4 " style="display: flex;align-items: center;">
            <div class="col-md-3">
                <img width="100%" class="adv" src="../../assets/images/asset-picture-3.png">
            </div>
            <div class="col-md-9">
                <h3>Top notch <span style="color:#46CD84">security</span> </h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            </div>
        </div>

    </div>
</div>