.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-both{
    clear: both;
}

.theme-background{
    background-color: #1dbf73;
    color: white;
}

.dark-theme-background{
    background-color: #1db36d;
    color: white;
}

.text-centered{
    text-align: center;
}

.login-wrapper{
    margin-bottom: 10%;
    padding: 35px;
    background-color: white;
    opacity: 0.99;
}

.margin-top-style{
    margin-top: 2%;
}

.text-style-heading{
    font-family: Calibri;
    font-weight: 300;
    font-size: 25px;
    color: green;
}

.preview-container{
    background-image: url("../../assets/images/preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.slider-heading{
    font-size: 26px;
    font-weight: 500;
    font-family: 'Calibri';
    color: #46CD84;
}
