<div class="preview-container">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="slider-heading">A growing community</div>
                <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="10000">
                            <app-user-mini-badge
                                userName="Awais Kamran"
                                userQuote="It has been a great experience working for this platform and earning recognition"
                                userPosition="UI/UX Developer"
                                userRating="4"
                            ></app-user-mini-badge>
                        </div>
                        <div class="carousel-item" data-interval="1500">
                            Hello World
                        </div>
                        <div class="carousel-item">
                            Hello World
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-5 margin-top-style">
                <div *ngIf="loginSuccess" class="alert alert-success" role="alert">
                    Congratulations! your action has been successful!
                </div>

                <div *ngIf="loginError" class="alert alert-warning" role="alert">
                    Error! Invalid username or password!
                </div>

                <form class="login-wrapper">
                    <img src="../../assets/images/logo.png" width="250" class="img-fluid centered" />
                    <div class="form-group">

                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Email">
                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me?</label>
                    </div>

                    <button type="button" class="btn dark-theme-background btn-block" (click)="login()">
                        <span *ngIf="loginLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container container-padding">
    <div class="row">
        <div class="col-md-4 service-flex-box">
            <div class="col-md-3 col-sm-2">
                <img class="service-image" src="../../assets/images/asset-picture-1.png">
            </div>
            <div class="col-md-9 col-sm-10">
                <div class="service-heading"><span class="heading-highlighter">Low</span> service fee</div>
                <p class="service-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            </div>
        </div>
        <div class="col-md-4 service-flex-box">
            <div class="col-md-3 col-sm-2">
                <img class="service-image" src="../../assets/images/asset-picture-2.png">
            </div>
            <div class="col-md-9 col-sm-10">
                <div class="service-heading"><span class="heading-highlighter">Anyone</span> can earn</div>
                <p class="service-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            </div>
        </div>
        <div class="col-md-4 service-flex-box">
            <div class="col-md-3 col-sm-2">
                <img class="service-image" src="../../assets/images/asset-picture-3.png">
            </div>
            <div class="col-md-9 col-sm-10">
                <div class="service-heading">Top notch <span class="heading-highlighter">security</span> </div>
                <p class="service-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            </div>
        </div>

    </div>
</div>