.centered{
    margin-left: auto;
    margin-right: auto;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-both{
    clear: both;
}

.theme-background{
    background-color: #1dbf73;
    color: white;
}

.dark-theme-background{
    background-color: #1db36d;
    color: white;
}

.text-centered{
    text-align: center;
}

.login-wrapper{
    margin-bottom: 10%;
    border: 1px solid #e0e0e0;
    padding: 45px;
    border-radius: 4px;
}

.margin-top-style{
    margin-top: 2%;
}

.text-style-heading{
    font-family: Calibri;
    font-weight: 300;
    font-size: 25px;
    color: green;
}
