<div class="dashboard-container">
    <div class="container">
        <div *ngIf="userId" class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <app-user-info-badge [userId]="userId"></app-user-info-badge>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div *ngIf="showQualifications" class="order-list padding-10 margin-20 no-padding-left no-margin-left no-padding-top">
                    <div class="container">
                        <div class="row">
                            <div *ngFor="let service of userServices" class="order-wrapper col-lg-4">
                                <app-user-service-badge [service]="service" [buyService]="false"></app-user-service-badge>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="showQualifications" class="qualification-container conatiner">
                    <app-qualifications [user]="userId"></app-qualifications>
                </div><br/>

                <div *ngIf="showExperience" class="experience-container conatiner">
                    <app-experience [user]="userId"></app-experience>
                </div><br/>

                <div class="review-container container">
                    <app-review [user]="userId"></app-review>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</div>