.dashboard-container{
    background-color: #fbf9f9;
}

.profile-card{
    background-color: white;
    border: 1px solid #e0e0e0;
}

.order-list{
    margin-left: 20px;
}

.order-wrapper{
    margin-top: 5px;
    padding: 5px;
}

.order-container{
    background-color: white;
    padding: 7px;
    border: 1px solid #e0e0e0;
}

.order-heading{
    background-color: white;
    border: 1px solid #e0e0e0;
}

.padding-20{
    padding: 20px;
}

.margin-20{
    margin: 20px;
}

.badge-rating{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.no-padding-left{
    padding-right: 0px !important;
}

.no-margin-left{
    margin-left: 0px !important;
}

.no-padding-top{
    padding-top: 0px !important;
}

.button-style{
    margin-top: 10px;
}

.create-service-icon{
    color: #258cab;
    font-size: 100px;
    text-align: center;
    margin-top: 45%;
}

.create-service-icon-container{
    background-color: white;
    min-height: 292px;
    min-width: 223px;
    text-align: center;
    cursor: pointer
}

.green{
    color: #1dbf73;
}

.green-block{
    background-color: #1dbf73 !important;
}

.bold{
    font-weight: 500;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.clear-both{
    clear: both;
}

.bold{
    font-weight: 500;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-container{
    text-align: center;
    font-size: 100px;
    color: #45a539;
    height: 258px;
    line-height: 258px;
    cursor: pointer;
}

.green{
    color: #1dbf73;
}

.field{
    margin-top: 10px;
}

.back-button{
    cursor: pointer;
}

.create-order{
    background-color: white;
    padding: 20px;
}

.no-padding{
    padding: 0px !important;
}

.image-style{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}

.hide{
    display: none;
}

.no-data-available{
    color: black;
    background-color: #e0e0e0;
    width: 100%;
    text-align: center;
    padding: 2.5%;
    margin-bottom: 20px;
}

.review-container{
    background-color: white;
    border: 1px solid #e0e0e0;
}

.qualification-container{
    padding: 10px;
    background-color: white;
    border: 1px solid #e0e0e0;
}

.experience-container{
    padding: 10px;
    background-color: white;
    border: 1px solid #e0e0e0;
}
