<div class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="profile-card padding-20 margin-20">
                    <div class="profile-badge">
                        <img src="assets/images/dummy-profile-picture.jpg" class="rounded-circle centered" width="90"
                            height="90" />
                        <div class="badge-rating">
                            <i *ngFor="let star of stars" class="fa fa-star yellow" aria-hidden="true"></i>
                        </div>
                        <div class="badge-name">Awais Kamran</div>
                        <div class="badge-position">UI/UX Developer</div>
                        <hr />
                        <div class="badge-about-me">
                            <div class="bold">About me</div>
                            
                            <div class="field">
                                Listening no no behaviour existence assurance situation is. Because
                                add why not esteems amiable him. Interested the unaffected mrs law friendship add
                                principles. Indeed on people do merits to. Court heard which up above hoped grave do. Answer
                                living law things either sir bed length. Looked before we an on merely.
                                These no death he at share alone.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="order-list padding-10 margin-20 no-padding-left no-margin-left no-padding-top">
                    <div class="order-heading">
                        <div class="order-heading-value float-left">Order List</div>
                        <div class="order-count float-right">Active (1)</div>
                    </div>
                    <div class="clear-both"></div>

                    <div class="container">
                        <div class="row">
                            <div class="order-wrapper col-lg-4">
                                <div class="order-container">
                                    <img src="assets/images/profile-pic.png" class="order-profile"
                                        class="rounded-circle centered" width="60" height="60" />
                                    <div class="buyer-name">Roger Mccoy</div>
                                    <div class="badge-rating">
                                        <i *ngFor="let star of stars" class="fa fa-star yellow" aria-hidden="true"></i>
                                    </div>
                                    <hr/>
                                    <div class="badge-container">
                                        <div class="badge-heading float-left bold">Price</div>
                                        <div class="badge-value float-right">$150</div>
                                        <div class="clear-both"></div>
                                    </div>

                                    <div class="badge-container">
                                        <div class="badge-heading float-left bold">Due In</div>
                                        <div class="badge-value float-right">2d 3hr</div>
                                        <div class="clear-both"></div>
                                    </div>

                                    <div class="badge-container">
                                        <div class="badge-heading float-left bold">Status</div>
                                        <div class="badge-value float-right badge-progress">In progress</div>
                                        <div class="clear-both"></div>
                                    </div><br/>

                                    <button class="btn btn-block btn-success">View Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>