<div class="dashboard-container">
    <div *ngIf="isUserView()" class="user-container container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <app-user-info-badge></app-user-info-badge>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="order-list padding-10 margin-20 no-padding-left no-margin-left no-padding-top">
                    <div class="order-heading">
                        <div class="order-heading-value float-left">Order List</div>
                        <div class="order-count float-right">Active (1)</div>
                    </div>
                    <div class="clear-both"></div>

                    <div class="container">
                        <div class="row">
                            <div class="order-wrapper col-lg-4">
                                <div class="order-container">
                                    <img src="assets/images/profile-pic.png" class="order-profile"
                                        class="rounded-circle centered" width="60" height="60" />
                                    <div class="buyer-name">Roger Mccoy</div>
                                    <div class="badge-rating">
                                        <i *ngFor="let star of stars" class="fa fa-star yellow" aria-hidden="true"></i>
                                    </div>
                                    <hr/>
                                    <div class="badge-container">
                                        <div class="badge-heading float-left bold">Price</div>
                                        <div class="badge-value float-right">$150</div>
                                        <div class="clear-both"></div>
                                    </div>

                                    <div class="badge-container">
                                        <div class="badge-heading float-left bold">Due In</div>
                                        <div class="badge-value float-right">2d 3hr</div>
                                        <div class="clear-both"></div>
                                    </div>

                                    <div class="badge-container">
                                        <div class="badge-heading float-left bold">Status</div>
                                        <div class="badge-value float-right badge-progress">In progress</div>
                                        <div class="clear-both"></div>
                                    </div><br/>

                                    <button class="btn btn-block btn-success">View Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isUserView()" class="admin-container container">
        <div class="row">      
        </div>
    </div>
</div>