<div class="dashboard-container">
    <div *ngIf="userView" class="user-container container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <app-user-info-badge></app-user-info-badge>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="order-list padding-10 margin-20 no-padding-left no-margin-left no-padding-top">
                    <div class="order-heading">
                        <div class="order-heading-value float-left">Order List</div>
                        <div class="order-count float-right">Active (1)</div>
                    </div>
                    <div class="clear-both"></div>

                    <div class="container">
                        <div class="row">
                            <div class="order-wrapper col-lg-4">
                                <app-user-order-badge></app-user-order-badge>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!userView" class="admin-container container">
        <div class="row mt-2">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
                <select class="form-control no-padding" [(ngModel)]="data.categoryId" (change)="categoryChanged()">
                    <option value="-1" selected>Select Category</option>
                    <option *ngFor="let category of categories" [value]="category.id">
                        {{ category.categoryName }}
                    </option>
                </select>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
                <select class="form-control no-padding" [(ngModel)]="data.subCategoryId">
                    <option value="-1" selected>Select Sub-Category</option>
                    <option *ngFor="let subcategory of filteredSubcategories" [value]="subcategory.id">
                        {{ subcategory.subCategoryName }}
                    </option>
                </select>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
                <select class="form-control" [(ngModel)]="data.country">
                    <option value="-1" selected>Select Country</option>
                    <option *ngFor="let country of countries; let i = index;" [value]="i">
                        {{ country.name }}
                    </option>
                </select>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
                <div class="form-group mb-0">
                    <input type="text" class="form-control" [(ngModel)]="data.city" placeholder="Your city" />
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2 mb-5">
                <button class="btn btn-block btn-success green" type="button" (click)="fetchServices()">
                    <span *ngIf="searching" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Search
                </button>
            </div>
        </div>

        <div class="row mb-5">
            <div *ngIf="services.length === 0" class="no-data-available">No services available.</div>
            <div *ngIf="services.length > 0" class="service-container">
                <div class="row">
                    <div *ngFor="let service of services" class="order-wrapper col-lg-4">
                        <app-user-service-badge (openDialog)="onOpenDialog($event)" [service]="service" [buyService]="true"></app-user-service-badge>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dialog-container" *ngIf="dialogOpened">
    <div class="user-details">
        <div class="float-left">
            <div class="user-detail-image"></div>
        </div>
        <div class="float-left">
            <div class="user-detail-name">{{ dialogData.user.name }}</div>
            <div class="user-detail-email">{{ dialogData.user.email }}</div>
            <div class="user-detail-travel-radius">{{ dialogData.user.travelRadius }}</div>
        </div>
    </div>

    <div class="service-detail">
        <div class="service-detail-name">{{ dialogData.title }}</div>
        <div class="service-cover-image">{{ dialogData.name }}</div>
        <div class="service-detail-description">{{ dialogData.description }}</div>
        <div class="service-detail-hourly-rate">Price {{ dialogData.hourlyCost }}/hr</div>
        <div class="service-detail-minimum-hours">{{ dialogData.minimumHours }} hours</div>
    </div>
    <button class="btn btn-block btn-success">Buy Order</button>
</div>