<div class="order-container">
    <div *ngIf="buyService" class="user-details">
        <div class="float-left">
            <div class="user-detail-image" [ngStyle]="{'background-image': service.user.image }"></div>
        </div>
        <div class="float-left">
            <div class="user-detail-title">{{ service.user.name}}</div>
        </div>
        <div class="clear-both"></div>
    </div>

    <div class="headline" (click)="showDataDialog(service)">{{ service.title }}</div>
    <div *ngIf="buyService" class="travel-radius">{{ service.user.travelRadius }} km</div>
    <div class="placeholder" [ngStyle]="{'background-image': 'url(' + service.image + ')'}"></div>
    <div class="user-actions">
        <div class="like-icon float-left">
            <i class="fa fa-heart heart-icon"></i>
        </div>
        <div class="service-price float-right green">
            Price <span class="bold">${{ service.hourlyCost }}/hr</span>
        </div>
        <div class="clear-both"></div>
    </div>
    <button *ngIf="buyService" class="btn btn-block btn-success button-style">Buy Service</button>
</div>