<div class="order-container">
    <div *ngIf="buyService" class="user-details">
        <div class="float-left">
            <div class="user-detail-image" (click)="navigateToUserProfile(service.user.id)" [ngStyle]="{'background-image': service.user.image }"></div>
        </div>
        <div class="float-left">
            <div class="user-detail-title" (click)="navigateToUserProfile(service.user.id)">{{ service.user.name}}</div>
        </div>
        <div class="clear-both"></div>
    </div>

    <div class="headline" (click)="showDataDialog(service)">{{ service.title }}</div>
    <div *ngIf="buyService" class="travel-radius">{{ service.user.travelRadius }} km</div>
    <div class="placeholder" [ngStyle]="{'background-image': 'url(' + service.image + ')'}"></div>
    <div class="user-actions">
        <div *ngIf="editMode" class="delete-icon float-left" (click)="deleteService(service.id)">
            <i class="fa fa-trash ml-2 trash-icon"></i>
        </div>

        <div class="service-price float-right green">
            Price <span class="bold">{{ currencySymbol }}{{ service.hourlyCost }}/hr</span>
        </div>
        
        <div class="clear-both"></div>
    </div>
    <button *ngIf="buyService" (click)="showDataDialog(service)" class="btn btn-block btn-success button-style">Buy Service</button>
</div>